.title
  .title-word
    新規登録画面
.wrapper
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :username
      %br/
      = f.text_field :username, class: "input", autofocus: true, autocomplete: "email"
    .field
      = f.label :email
      %br/
      = f.email_field :email, class: "input", autofocus: true, autocomplete: "email"
    .field
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, class: "input", autocomplete: "new-password"
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, class: "input", autocomplete: "new-password"
    .actions
      = f.submit "Sign up", class: "submit-btn"
  = render "devise/shared/links"
